*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(70deg,purple,blue,red);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

h1{
    font-weight: 700;
    text-align: center;
    margin: 10px;
}

img{
    object-fit: cover;
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: inset 10px 10px 10px;
    width: 400px;
    height: auto;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #fff;
}

a:hover{
    background: #fff;
    color: #000;
}